:host {
    padding-bottom: 15px;
    margin-bottom: 68px;
    display: block;

    .weather{
        padding: 15px;
    }
    .footer {
        display: block;
        bottom: 0;
        right: 0;
        background-color: white;
        position: fixed;
        padding: 15px;
        width: 100%;
    }
}