<span class="counter" *ngIf="currentWeather?.count && !isLoading">{{ currentWeather?.count }} Result(s)!</span>
<span class="counter" *ngIf="!currentWeather?.count && !isLoading">No results. Try Again!</span>
<span class="counter" *ngIf="isLoading">Loading...</span>
    <div class="weather-card" *ngFor="let city of currentWeather?.list">
        <div class="weather-card-header">
            <span class="name">{{ city.name }}, {{city.sys.country}}</span>
            <span class="coord">({{ city.coord.lat }}, {{ city.coord.lon }})</span>
        </div>
        <div class="weather-card-body">
            <span>Temperatura: {{ city.main.temp }}</span>
            <span>Humedad: {{ city.main.humidity }}</span>
            <span>Velocidad del viento: {{ city.wind.speed }}</span>
        </div>
    
    </div>
